$hc-color: #ff973b;
$body-color: #4b4e50;
$muted-color: #a6a6a6;
$error-color: #E66F64;
$heading-color: #433d47;
$subheading-color: #aaa9aa;

$heading-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
$subheading-font: 'Droid Sans', 'Oxygen', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
$main-font: 'Oxygen', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
$navbar-height: 100px !default;

$field-height: 70px;
$field-border-radius: 5px;

